<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">
    <!-- 加载网络图片必须要有权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".imageload.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".okhttp.OKHttpActivity"></activity>
        <activity android:name=".eventbus.MainFgActivity" />
        <activity android:name=".eventbus.EventBusBActivity" />
        <activity android:name=".eventbus.EventBusAActivity" />
        <activity android:name=".picasso.PicassoListViewActivity" />
        <activity android:name=".imageload.UniversalImgLoaderActivity" />
        <activity android:name=".datastorage.FileActivity" />
        <activity android:name=".datastorage.SharedPreferencesActivity" />
        <activity android:name=".datastorage.DataStorageActivity" />
        <activity android:name=".HandlerActivity" />
        <activity android:name=".EventActivity" />
        <activity android:name=".fragment.ContainerActivity" />
        <activity android:name=".jump.BActivity">
            <intent-filter>
                <action android:name="com.ljy.test.BActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".jump.AActivity" />
        <activity android:name=".PopUpActivity" />
        <activity android:name=".CustomerDialogActivity" />
        <activity android:name=".ProgressBarActivity" />
        <activity android:name=".AlertDialogActivity" />
        <activity android:name=".ToastActivity" />
        <activity android:name=".WebViewActivity" />
        <activity android:name=".recyclerview.PuRecyclerViewActivity" />
        <activity android:name=".recyclerview.GridRecyclerViewActivity" />
        <activity android:name=".recyclerview.HorizonRecyclerViewActivity" />
        <activity android:name=".recyclerview.LinearRecyclerViewActivity" />
        <activity android:name=".recyclerview.RecyclerViewActivity" />
        <activity android:name=".ImageViewActivity" />
        <activity android:name=".listview.ListViewActivity" />
        <activity android:name=".gridview.GridViewActivity" />
        <activity android:name=".CheckBoxActivity" />
        <activity android:name=".RadioButtonActivity" />
        <activity android:name=".EditTextActivity" />
        <activity android:name=".ThirdActivity">
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
            </intent-filter>
        </activity>
        <activity android:name=".SecondActivity">
            <intent-filter>
                <action android:name="com.example.myapplication.ACTION_START" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.example.myapplication.MY_CATEGORY" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>